#addStockContainer{
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 1rem;
    flex: 1;
    .addStockContainer{
        @include flex(column,space-evenly,center,wrap);
        border: 1px solid map-get($color-palette, ims-brand-primary);
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: map-get($color-palette, ims-white);
        padding: 1rem;
    }
    #stockForm{
        width: 100%;
        .col-1{
            @include flex(row,space-evenly,center,nowrap);
            .formInputContainer {
                @include flex(column, space-between, flex-start, nowrap);

                & > label {
                    padding-bottom: 1rem;
                }
               
            }
            .SelectField{
                margin-bottom: 3rem;
            }
            @media (max-width: $tablet-width) {
                @include flex(column,space-evenly,center,nowrap);
            }
        }
        .col-2{
            .formButtonContainer{
                @include flex(row, space-evenly, center, nowrap);

                @media (max-width: $tablet-width) {
                    @include flex(row, space-evenly, flex-start, nowrap);
                }
            }
        }
        
        
    }
    
}