#loomsStatusBtnContainer{
    width: 90%;
    margin-top: 10rem;
    margin-bottom: 1rem;
    flex: 1;
    .loomsStatusBtnMenuContainer{
        @include flex(row,space-evenly,center,wrap);
        border: 1px solid map-get($color-palette, ims-brand-primary);
        box-sizing: border-box;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: map-get($color-palette, ims-white);
        padding: 1rem;
    }
    .loomsStatusBtnTitle{
        font-family: NotoSans-Bold;
        font-size: 2.8rem;
        text-decoration: none;
        color: map-get($color-palette, ims-brand-primary);
    }
}