$color-palette: (
    ims-brand-primary: #060b26,
    ims-text-primary: #0b0c0c,
    ims-text-grey: #6a6a6a,
    ims-text-footer: #5a5a5a,
    ims-body-grey: #f4f4f4,
    ims-footer-border: #cccece,
    ims-divider: #ebebeb,
    ims-screen-overlay: rgba(34, 34, 34, 0.4),
    ims-white: #fefefe,
    ims-red: #ce0000,
    ims-amber: #cb4b0b,
    ims-green: #005353,
    ims-grey: #868686,
    ims-nav-menuitem-background: #1a83ff,
    ims-nav-menuitem-name: #f5f5f5,
);

// Device sizes
$small-mobile-width: 321px;
$mobile-width: 426px;
$tablet-width: 769px;
$laptop-width: 1025px;
